html {

    font-size:100%;
    box-sizing: border-box;
    font-family: Nunito, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    color: lightsalmon
}

.flexbox-container {
    background-color: lightblue;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-end;
}

.Hey-there {
    width: 200px;
    background-color: bisque;
    color: #000;
    min-height: 300px;
}
