html {

    font-size:100%;
    box-sizing: border-box;
    font-family: Nunito, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
}

img {
    width: 100%;
}

h1 {
    color: lightsalmon
}

.flexbox-container {
    background-color: lightblue;
}